<%= form_with model: @user, url: login_path do |form| %>
  <% if flash[:alert].present? %>
    <div class="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>
  <%=  form.text_field :username %>
  <%=  form.password_field :password %>

  <%= form.submit 'Login' %>
<% end %>
