<!DOCTYPE html>
<html>
  <head>
    <title>HelpjuiceTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
    <nav>
      <% if !current_page?('articles', 'index') %>
        <li>
          <%= link_to 'Articles', articles_path %>
        </li>
      <% end %>
      <% if !current_page?('searches', 'index')%>
        <li>
          <%= link_to 'Searches', searches_path %>
        </li>
      <% end %>
    </nav>
  <%= yield %>
  </body>
</html>
