<!DOCTYPE html>
<html>
  <head>
    <title>HelpjuiceTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
    <nav>
      <%= link_to "Searches", searches_path %>
    </nav>
    <%= yield %>
  </body>
</html>
